extend layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')

block sidebar
  if sharing
    if projectAuthor === session.id
      a.btn.btn-danger#back(href='/prototype/project/#{projectId}/screen/#{screenId}', tabindex='-1') &larr; Back to prototype
    else
      a.btn.btn-danger#back(href='/', tabindex='-1') &larr; Back to home
    p This is Napkin, a rapid web prototyping tool. You're currently being shared a screen on the right, which is a mockup of one page of a potential website.
  else
    a.btn.btn-danger#back(href='/#!project/#{projectId}', tabindex='-1') &larr; Back to 
      span project page

  #screen-actions

block content
  if sharing && !authenticated
    h2 Authentication Required
    p You may not view this page unless you are authenticated.

    form.login-form(method='post',
      action!="/share/#{userId}/project/#{projectId}/screen/#{screenId}/log-in")
      a.persona-button.share-element.auth(href='#log-in')
        span Sign in
      input(type='hidden', name='bid_assertion', value='1')

block scripts
  if sharing && !authenticated
    script(src='/javascripts/lib/require-jquery.min.js', data-main='/javascripts/scripts/share.js')
  else
    script(src='/javascripts/lib/require-jquery.min.js', data-main='/javascripts/scripts/prototype.js')

  // layouts and lists
  include templates/layouts/layout
  include templates/lists/component
  include templates/lists/article-element
  include templates/lists/form-element
  include templates/lists/navigation-element

  // article elements and popovers
  include templates/elements/heading
  include templates/elements/paragraph
  include templates/elements/auth

  if !sharing
    include templates/popovers/heading
    include templates/popovers/paragraph
    include templates/popovers/auth

  // form elements and popovers
  include templates/elements/input-text
  include templates/elements/input-radio
  include templates/elements/input-checkbox
  include templates/elements/textarea

  if !sharing
    include templates/popovers/input-text
    include templates/popovers/input-radio
    include templates/popovers/input-checkbox
    include templates/popovers/textarea

  // navigation elements and popovers
  include templates/elements/screen-link
  include templates/elements/external-link

  if !sharing
    include templates/popovers/screen-link
    include templates/popovers/external-link

block github
